/*Styling for workit login page */
html,
body,
div,
span,
h1,
h2,
h3,
em,
img,
form,
label,
footer,
menu,
nav,
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

img {
    max-width: 100%;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

.txt-rt {
	text-align: right;
}


/* text align right */

.txt-lt {
	text-align: left;
}


/* text align left */

.txt-center {
	text-align: center;
}


.clear {
	clear: both;
}


/* clear float */

.pos-relative {
	position: relative;
}



html,
body {
	padding: 0;
	margin: 0;
	background: #fff;
	font-family: 'Source Sans Pro', sans-serif;
}

body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}

body a:hover {
	text-decoration: none;
}

body a:focus,
a:hover {
	text-decoration: none;
}

select,
input[type="email"],
input[type="text"],
input[type=password],
input[type="button"],
input[type="submit"],
textarea {
	font-family: 'Source Sans Pro', sans-serif;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}


h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 1px;
}

p {
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
	font-family: 'Source Sans Pro', sans-serif;
}

ul {
	margin: 0;
	padding: 0;
}

/*--background --*/

body {
	/* position: relative;*/
	background: url(https://res.cloudinary.com/davidjnr2/image/upload/v1568679900/typing_twhxz9.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	box-sizing: border-box;
	min-height: 100%;
}

.bg-layer {
	background: rgba(0, 0, 0, 0.10);
	min-height: 100vh;
}

/*end of background*/



.workit-header {
        float: left;
}

.workit-header {
        float: none;
        text-align: left;
    }

h1 {
	margin-bottom: 0;
	padding-right: 100px;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 1px;
	text-transform: capitalize;
    	letter-spacing: 1px;
    	position: relative;
    	font-weight: 800;
	font-size: 2.5em;

}
h1.header-w3ls {
	text-transform: capitalize;
	color: #ffffff;
	text-shadow: 2px 3px rgba(0, 0, 0, 0.42);
}

.form-width {-
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.form-field-transform input[type="email"],
.form-field-transform input[type="password"],
.form-field-transform input[type="text"] {
	width: 100%;
	color: #000;
	outline: none;
	border: none;
	border-bottom: #F61067 2px solid;
	-webkit-appearance: none;
	background: #ffffff96;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	box-sizing: border-box;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #000;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #000;
}

:-ms-input-placeholder {
	/* IE 10+ */
	color: #000;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: #000;
}

.form-align h2 {
	font-weight: 500;
	color: #ffffff;
}

button[type=submit] {
	background: #F61067;
	outline: none;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	border: none;
	padding: 11px 20px;
	letter-spacing: 1px;
	text-transform: capitalize;
	cursor: pointer;
	transition: 0.5s all;
	margin: 56px 0px 0px;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

button[type=submit]:hover {
	opacity: 0.8;
}

.remember-side {
	float: left;
	position: relative;
}

.workit-button h3 {
	font-size: 18px;
	color: #fff;
	margin-top: 35px;
	font-weight: 500;
}

.workit-button a {
	font-size: 14px;
	color: #F61067;
	font-weight: 600;
	text-decoration: none;
	text-transform: capitalize;
	display: inline-block;
	letter-spacing: 2px;
	outline: none;
}

/* sign up form popup */

.signup-form-popeffect {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(152, 152, 152, 0.7);
	transition: opacity 0ms;
	visibility: hidden;
	opacity: 0;
	z-index: 99;
}

.signup-form-popeffect:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	background: #eaeaeabf;
	border-radius: 4px;
	max-width: 430px;
	position: relative;
	margin: 11em auto;
	padding: 3em 2em;
	z-index: 999;
	text-align: center;
}

.popup .close {
	position: absolute;
	top: 5px;
	right: 15px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}

.popup .close:hover {
	color: #686de0;
}


/* //signup form popup */

.Footer-statement {
	position: absolute;
	bottom: 52px;
	width: 100%;
}

.Footer-statement p {
	text-align: center;
	font-size: 35px;
	color: rgb(4, 5, 58);
	letter-spacing: 2px;
}

/*--responsive--*/

@media(max-width:1920px) {
	.form-field-transform input[type="email"],
	.form-field-transform input[type="password"],
	.form-field-transform input[type="text"] {
		font-size: 16px;
		padding: 1em 1em;
		margin: 0px 0px 30px;
	}
	.form-align {
		padding: 19em 24em 8em 4em;
	}
	.art-left-w3ls {
		padding: 23em 5em 36em;
	}
	.form-align h2 {
		font-size: 30px;
		margin-bottom: 48px;
	}
	h1.header-w3ls {
		font-size: 55px;
		letter-spacing: 3px;
	}
}

@media(max-width:1680px) {
	h1.header-w3ls {
		font-size: 53px;
	}
	.form-align h2 {
		font-size: 28px;
	}
	.form-field-transform input[type="email"],
	.form-field-transform input[type="password"],
	.form-field-transform input[type="text"] {
		font-size: 15px;
		margin: 0px 0px 26px;
	}
}

@media(max-width:1600px) {
	.form-align {
		padding: 12em 24em 8em 4em;
	}
	.art-left-w3ls {
		padding: 20em 5em 21em;
	}
	h1.header-w3ls {
		font-size: 50px;
		letter-spacing: 3px;
		line-height: 66px;
	}
	.form-field-transform input[type="email"],
	.form-field-transform input[type="password"],
	.form-field-transform input[type="text"] {
		font-size: 14px;
		padding: .8em 1em;
		margin: 0px 0px 25px;
	}
	.margin-zero input[type="password"] {
		margin: 0px !important;
	}
	.form-align h2 {
		font-size: 28px;
		margin-bottom: 47px;
	}
}

@media(max-width:1440px) {
	.art-left-w3ls {
		padding: 10em 5em 14em;
	}
	.form-align {
		padding: 6em 21em 8em 4em;
	}
	h1.header-w3ls {
		font-size: 48px;
	}
	.form-align h2 {
		font-size: 26px;
		margin-bottom: 45px;
	}

	h1 {
	margin-bottom: 0;
	padding-right: 0;
	font-family: Rubik,Lato,lucida grande,lucida sans unicode,'Source Sans Pro', sans-serif;
	letter-spacing: 1px;
	color: #ffffff
	

}
}


@media(max-width:1366px) {
	button[type=submit] {
		margin: 50px 0px 0px;
	}
	.workit-button h3 {
		font-size: 17px;
		margin-top: 33px;
	}
	.popup {
		margin: 8em auto;
	}
}

@media(max-width:1280px) {
	.art-left-w3ls {
		padding: 11em 3em 30.7em;
	}
	.art-left-w3ls {
		padding: 10em 3em 19.2em;
	}
	h1.header-w3ls {
		font-size: 46px;
		letter-spacing: 2px;
	}
}

@media(max-width:1080px) {
	.art-left-w3ls {
		order: 1;
		padding: 1.5em 3em 1.5em;
		text-align: center;
		min-height: 0vh;
	}
	.form-width {
		flex-direction: column;
	}
	.form-align {
		order: 2;
		padding: 2em 27em 2em 3em;
	}
	button[type=submit] {
		margin: 46px 0px 0px;
	}
	.form-align h2 {
		font-size: 24px;
		margin-bottom: 41px;
	}
	.Footer-statement {
		bottom: 30px;
	}
}

@media(max-width:1050px) {
	h1.header-w3ls {
		font-size: 44px;
	}
	.workit-button h3 {
		font-size: 16px;
		margin-top: 31px;
	}
}

@media(max-width:1024px) {
	.form-align {
		padding: 3em 27em 6em 4em;
	}
	.popup {
		margin: 3em auto;
	}
	.form-field-transform input[type="email"],
	.form-field-transform input[type="password"],
	.form-field-transform input[type="text"] {
		padding: .7em .9em;
		margin: 0px 0px 22px;
	}
}

@media(max-width:991px) {
	h1.header-w3ls {
		font-size: 41px;
		line-height: 63px;
	}
	button[type=submit] {
		margin: 42px 0px 0px;
	}
}

@media(max-width:900px) {
	.form-field-transform input[type="email"],
	.form-field-transform input[type="password"],
	.form-field-transform input[type="text"] {
		padding: .7em .7em;
	}
	.form-align h2 {
		margin-bottom: 36px;
	}
}

@media(max-width:800px) {
	.form-align {
		padding: 3em 19em 6em 4em;
	}
	h1.header-w3ls {
		font-size: 39px;
		line-height: 63px;
		letter-spacing: 1px;
	}
}

@media(max-width:768px) {
	.workit-button h3 {
		font-size: 15px;
		margin-top: 28px;
	}
}

@media(max-width:767px) {
	button[type=submit] {
		padding: 10px 18px;
	}
	h1.header-w3ls {
		font-size: 37px;
	}
}

@media(max-width:736px) {
	.form-field-transform input[type="email"],
	.form-field-transform input[type="password"],
	.form-field-transform input[type="text"] {
		margin: 0px 0px 20px;
	}
	.Footer-statement p {
		letter-spacing: 1px;
	}
}

@media(max-width:667px) {
	.form-align {
		padding: 3em 13em 6em 3em;
	}
	.art-left-w3ls {
		padding: 1.2em 3em 1.2em;
	}
        h1 {
	margin-bottom: 0;
	padding-right: 100px;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 1px;
	

}
}

@media(max-width:640px) {
	h1.header-w3ls {
		font-size: 35px;
	}
	.workit-button h3 {
		margin-top: 25px;
	}
}

@media(max-width:600px) {
	.form-align {
		padding: 3em 11em 6em 3em;
	}
	.form-align h2 {
		font-size: 23px;
	}
}

@media(max-width:568px) {
	.form-field-transform input[type="email"],
	.form-field-transform input[type="password"],
	.form-field-transform input[type="text"] {
		margin: 0px 0px 17px;
	}
}

@media(max-width:480px) {
	.Footer-statement p {
		line-height: 28px;
		padding: 0px 10px;
	}
	.art-left-w3ls {
		padding: 1.2em 1em 1.2em;
	}
	.form-align {
		padding: 2.5em 6em 5em 3em;
	}
	button[type=submit] {
		margin: 37px 0px 0px;
	}
	.popup {
		max-width: 350px;
	}
	h1.header-w3ls {
		line-height: 54px;
	}
}

@media(max-width:440px) {
	h1.header-w3ls {
		font-size: 32px;
	}
	.form-align h2 {
		margin-bottom: 31px;
	}
}

@media(max-width:414px) {
	.form-align {
		padding: 2.5em 4em 4em 2em;
	}
	h1.header-w3ls {
		line-height: 41px;
		font-size: 30px;
	}
	.popup {
		max-width: 296px;
	}
h1 {
	margin-bottom: 0;
	padding-right: 0;
	font-family: Rubik,Lato,lucida grande,lucida sans unicode,'Source Sans Pro', sans-serif;
	letter-spacing: 1px;
	color: #0A0933
}

@media(max-width:384px) {
	h1.header-w3ls {
		line-height: 46px;
		font-size: 28px;
	}

	h1 {
	margin-bottom: 0;
	padding-right: 0;
	font-family: Rubik,Lato,lucida grande,lucida sans unicode,'Source Sans Pro', sans-serif;
	letter-spacing: 1px;
	color: #0A0933
	

}
	.popup {
		max-width: 267px;
	}
}

@media(max-width:375px) {
	.form-align h2 {
		font-size: 21px;
	}
h1 {
	margin-bottom: 0;
	padding-right: 0;
	font-family: Rubik,Lato,lucida grande,lucida sans unicode,'Source Sans Pro', sans-serif;
	letter-spacing: 1px;
	color: #0A0933
}

@media(max-width:320px) {
	h1.header-w3ls {
		line-height: 42px;
	}
	.form-align {
		padding: 2.5em 2em 4em 1em;
	}
	.popup {
		max-width: 239px;
		padding: 3em 1.5em;
	}
h1 {
	margin-bottom: 0;
	padding-right: 0;
	font-family: Rubik,Lato,lucida grande,lucida sans unicode,'Source Sans Pro', sans-serif;
	letter-spacing: 1px;
	color: #0A0933
}

