.container{
display: flex;
flex-direction: row;
}
.col-1{
  flex: 2;
  flex-direction: column;
}
.col-2{
  flex: 3;
  background: url('https://res.cloudinary.com/davidjnr2/image/upload/v1568679900/typing_twhxz9.jpg');
  background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	box-sizing: border-box;
	min-height: 695px;
}
.header{
  flex: 1;
  display: flex;
  background: #30124E;
  height: 15%;
  justify-content: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  /* pointer-events: none; */
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.header span{
  /* display: block; */
  font-weight: 500;
  font-size: 40px;
  color: #FFFEFE;
  text-align: center;
}
.main{
  flex: 3;
  display: flex;
  background: #FFFEFE;
  height: 70%;
  justify-content: center;
}
.input{
  display: inline-block;
  margin-top: 30px;
  padding-top: 15px;
  padding-left: 15px;
}
.btn{
  display: block;
  background: #F61067;
  font-size: 20px;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  line-height: 40px;
  width: 120px;
}
.main p{
  display: block;
}
.signup{
  position: relative;
  bottom: 20px;
}
.btn_signup{
  display: block;
  background: #0A0933;
  font-size: 17px;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  line-height: 25px;
  width: 80px;
}
.footer{
  flex: 1;
  background: #F61067;
  height: 15%;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

